<html>
    <head>
        <link rel="icon" href="information/favicon.ico" type="image/x-icon">
        <title>Login Sequence</title>
    </head>
    <body>
        <h1>Login to access camera</h1>
        <form action="/requests/login" enctype="multipart/form-data" method="POST">
            <div>
                <label for="user" id="usernameLogin">Username: </label>
                <input name="user" type="text"></input>
            </div>
            <br>
            <div>
                <label for="password" id="passwordLogin">Password: </label>
                <input name="password" type="password"></input>
            </div>
            <br>
            <input type="Submit" value="Login"/>
        </form>
    </body>
</html>

